
.paginator{
    padding:5px;
    text-align: center;
}
.btn-dot{
    padding:1rem;
    border:none;
    width: 3.5rem;
    background: rgb(216, 216, 216);
}

 .selected{
    background: rgb(58, 127, 216);
    color: #FFF;
}
.btn-dot-shortcut{
    background: rgb(19, 19, 19);
    color: blanchedalmond;
}