<form (ngSubmit)="login()" [formGroup]="loginForm">
  <label for="input-email">Email</label>
  <input type="email" formControlName="email" id="input-email">
  <div *ngIf="formEmail.invalid">
    <span *ngIf="formEmail.errors.email">
      <div class="alert alert-danger">
        Insert a valid Email.
      </div>
    </span>
    <span *ngIf="formEmail.errors.required && formEmail.touched">
      <div class="alert alert-danger">
        Email is required.
      </div>
    </span>
  </div>
  <label for="input-password">Password</label>
  <input type="password" formControlName="password" id="input-password">
  <div *ngIf="formPassword.invalid">
    <span *ngIf="formPassword.errors.required && formPassword.touched ">
      <div class="alert alert-danger">
        Password is required.
      </div>
    </span>
  </div>
  <button type="submit" [disabled]="!loginForm.valid">Sign in</button>
</form>